body {
  background-color: transparent;
  overflow: hidden;
}
ul {
  padding: 0 10px;
}
li {
  margin-top: 20px;
  font-family: var(--vscode-font-family);
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
}

.news-time {
  color: #c7000a;
  font-weight: bold;
}
.important-news {
  color: #fff900d1;
}

.news-content {
  margin-left: 2px;
}
